{% extends "employee/hub_base.html" %} 
    {% load static %} 
    {% block title %}Engineer{% endblock %} 
    
    
    {% block body_block %}
    

    {% for task in tasks %}
    <form method="POST"></form>
    <div class="row form-row">
        
            <div class="col-md-1">
                <h5>{{ task.customer }}</h5>
            </div>
            <div class="col-md-1">
                <h5>{{ task.issue }}</h5>
            </div>
            <div class="col-md-1">
                <h5>{{ task.product }}</h5>
            </div>
            <div class="col-md-1">
                <h5>{{ task.start_date }}</h5>
            </div>
            <div class="col-md-1">
                <h5>{{ task.start_time }}</h5>
            </div>
            <div class="col-md-1">
                <h5>{{ task.status }}</h5>
            </div>
            <div class="form-group col-md-1">
                <h5>{{ task.engineer }}</h5>
            </div>
            <div class="col-md-1">
                <a href="{% url 'engineer_edit' task.id %}" class="btn btn-primary btn-sm" role="button">Update</a>
            </div>
        
    </div>
</form>
    {% endfor %}
    
    {% endblock %}
