<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<!-- <h2>Login</h2>
<form class="form-group" method="post" style="font-size: large;">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Login</button>
</form> -->



  <form method="post" class="jumbotron" style="box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);padding: 4% 4% 4% 4%;background-color: rgb(245, 245, 245);">
    <h2>Login</h2>
    {% csrf_token %}
      {{ form.non_field_errors }}
      <!-- <div class="form-group" style="padding-top: 1%;">
          {{ form.username.errors }}
          <label for="{{ form.username.id_for_label }}">Username:</label>
          <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
            
          <input type="text" class="form-control" value="{{ form.username }}"/>
          {{ form.username }}
      </div>
      <div style="padding-top: 2%;">
          {{ form.password.errors }}
          <label for="{{ form.password.id_for_label }}">Password:</label>
          {{ form.password }}
      </div>

      <div style="padding-bottom: 10%;padding-top: 1%;">
        <button  class="btn btn-primary" type="submit">Login</button>
      </div> -->
      <div class="control-group">
        {{ form.username.errors }}
        <label class="control-label" for="username" >Username</label>
        <div class="controls">
            <input class="form-control" type="text" id="username" name="username"  placeholder="Username" style="width: 20%;">
        </div>
    </div>
    <div class="control-group">
        {{ form.password.errors }} 
        <label class="control-label" for="password" style="padding-top: 2%;">Password</label>
        <div class="controls">
            <input class="form-control" type="password" name="password" id="password" placeholder="Password" style="width: 20%;">
        </div>
    </div>
    <div class="control-group">
        <div class="controls" style="padding-top: 2%;">
            <button class="btn btn-primary" type="submit" class="btn">Login</button>
        </div>
    </div>
  </form>

{% endblock %}